In [34]:
# Import Dependencies
import pandas as pd

from matplotlib import pyplot as plt
from sklearn.datasets import make_classification
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [35]:
health_df = pd.read_csv('healthcare-dataset-stroke-data.csv')
health_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [36]:
health_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [37]:
health_df=health_df.dropna()
health_df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [40]:
X=health_df.drop(['id', 'stroke'], axis = 1)
X= pd.get_dummies(X)

y=health_df['stroke']
X.head()
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4909 entries, 0 to 5109
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age                             4909 non-null   float64
 1   hypertension                    4909 non-null   int64
 2   heart_disease                   4909 non-null   int64
 3   avg_glucose_level               4909 non-null   float64
 4   bmi                             4909 non-null   float64
 5   gender_Female                   4909 non-null   uint8
 6   gender_Male                     4909 non-null   uint8
 7   gender_Other                    4909 non-null   uint8
 8   ever_married_No                 4909 non-null   uint8
 9   ever_married_Yes                4909 non-null   uint8
 10  work_type_Govt_job              4909 non-null   uint8
 11  work_type_Never_worked          4909 non-null   uint8
 12  work_type_Private               4909 non-null   uint8
 13  work_type_Self-employed         4909 non-null   uint8
 14  work_type_children              4909 non-null   uint8
 15  Residence_type_Rural            4909 non-null   uint8
 16  Residence_type_Urban            4909 non-null   uint8
 17  smoking_status_Unknown          4909 non-null   uint8
 18  smoking_status_formerly smoked  4909 non-null   uint8
 19  smoking_status_never smoked     4909 non-null   uint8
 20  smoking_status_smokes           4909 non-null   uint8
dtypes: float64(3), int64(2), uint8(16)
memory usage: 306.8 KB

In [46]:

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1228 entries, 4336 to 1221
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age                             1228 non-null   float64
 1   hypertension                    1228 non-null   int64
 2   heart_disease                   1228 non-null   int64
 3   avg_glucose_level               1228 non-null   float64
 4   bmi                             1228 non-null   float64
 5   gender_Female                   1228 non-null   uint8
 6   gender_Male                     1228 non-null   uint8
 7   gender_Other                    1228 non-null   uint8
 8   ever_married_No                 1228 non-null   uint8
 9   ever_married_Yes                1228 non-null   uint8
 10  work_type_Govt_job              1228 non-null   uint8
 11  work_type_Never_worked          1228 non-null   uint8
 12  work_type_Private               1228 non-null   uint8
 13  work_type_Self-employed         1228 non-null   uint8
 14  work_type_children              1228 non-null   uint8
 15  Residence_type_Rural            1228 non-null   uint8
 16  Residence_type_Urban            1228 non-null   uint8
 17  smoking_status_Unknown          1228 non-null   uint8
 18  smoking_status_formerly smoked  1228 non-null   uint8
 19  smoking_status_never smoked     1228 non-null   uint8
 20  smoking_status_smokes           1228 non-null   uint8
dtypes: float64(3), int64(2), uint8(16)
memory usage: 76.8 KB

In [42]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier
classifier.fit(X_train, y_train)
print(f"LogisticRegression Training Data Score: {classifier.score(X_test, y_test)}")

LogisticRegression Training Data Score: 0.9486970684039088

/Users/yuanzhong/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [44]:
from sklearn.metrics import confusion_matrix

y_true = y_test
y_pred = classifier.predict(X_test)
confusion_matrix(y_true, y_pred)

array([[1165,    0],
       [  63,    0]])