In [76]:


from imblearn.over_sampling import SMOTE

In [77]:
# Import Dependencies
import pandas as pd

from matplotlib import pyplot as plt
from sklearn.datasets import make_classification
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [78]:
health_df = pd.read_csv('healthcare-dataset-stroke-data.csv')
health_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [79]:
health_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [80]:
health_df=health_df.dropna()
health_df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [81]:
X=health_df.drop(['id', 'stroke'], axis = 1)
X= pd.get_dummies(X)

y=health_df['stroke']
X.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.6,0,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0
2,80.0,0,1,105.92,32.5,0,1,0,0,1,...,0,1,0,0,1,0,0,0,1,0
3,49.0,0,0,171.23,34.4,1,0,0,0,1,...,0,1,0,0,0,1,0,0,0,1
4,79.0,1,0,174.12,24.0,1,0,0,0,1,...,0,0,1,0,1,0,0,0,1,0
5,81.0,0,0,186.21,29.0,0,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0

In [82]:

health_df['stroke'].value_counts()

0    4700
1     209
Name: stroke, dtype: int64

In [132]:
# Split our data into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [133]:
# Scale the data

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [134]:
# balancing the samples
smote = SMOTE()
x_resample, y_resample = smote.fit_resample(X_train_scaled , y_train.ravel())


pd.DataFrame(y_resample).value_counts()

0    3535
1    3535
dtype: int64

In [155]:
# Fit (train) our model by using the unbalanced training data
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

classifier.fit(X_train_scaled, y_train)
print(f"LogisticRegression Test Data Score with balanced dataset: {classifier.score(X_test, y_test)}")
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")

LogisticRegression Test Data Score with balanced dataset: 0.05130293159609121
Training Data Score: 0.9606085302906818

/Users/yuanzhong/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [156]:
from sklearn.metrics import confusion_matrix,classification_report

y_true = y_test
y_pred = classifier.predict(X_test_scaled)


y_test.value_counts()

0    1165
1      63
Name: stroke, dtype: int64

In [157]:
confusion_matrix(y_true, y_pred)

array([[1165,    0],
       [  63,    0]])

In [158]:
print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

           0       0.95      1.00      0.97      1165
           1       0.00      0.00      0.00        63

    accuracy                           0.95      1228
   macro avg       0.47      0.50      0.49      1228
weighted avg       0.90      0.95      0.92      1228

/Users/yuanzhong/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/yuanzhong/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/yuanzhong/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [159]:
# Create a logistic regression model

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [160]:
# Fit (train) our model by using the balanced training data

classifier.fit(x_resample, y_resample)
print(f"LogisticRegression Test Data Score with unbalanced dataset: {classifier.score(X_test_scaled , y_test)}")
print(f"Training Data Score: {classifier.score(x_resample, y_resample)}")

LogisticRegression Test Data Score with unbalanced dataset: 0.7353420195439739
Training Data Score: 0.7804809052333804

In [161]:
from sklearn.metrics import confusion_matrix,classification_report

y_true = y_test
y_pred = classifier.predict(X_test_scaled)


y_test.value_counts()

0    1165
1      63
Name: stroke, dtype: int64

In [162]:
confusion_matrix(y_true, y_pred)

array([[854, 311],
       [ 14,  49]])

In [163]:
print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

           0       0.98      0.73      0.84      1165
           1       0.14      0.78      0.23        63

    accuracy                           0.74      1228
   macro avg       0.56      0.76      0.54      1228
weighted avg       0.94      0.74      0.81      1228